<%- include('../port/layout-start', {title: title}) %>
    <%- include('../port/menu') %>

        <form action="/login" method="POST">
            <!-- <div>
                <label>Логин:</label>
                <input type="text" name="username" /><br />
            </div> -->
            <div>
                <label>Email:</label>
                <input type="email" name="email" /><br />
            </div>
            <div>
                <label>Пароль:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <input type="submit" value="Войти" />
            </div>

        </form>
        <a href="/register">Register</a>
        <div>
            <form action="/logout" method="post">
                <button class="logout" type="submit">Sign out</button>
                <input type="hidden" name="_csrf">
            </form>
        </div>
        <%- include('../port/layout-end') %>