<h1>Sign Up Form</h1>
<form action="/register" method="POST">
    <div>
        <label>Логин:</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" /><br />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" />
    </div>
    <button>Register</button>
</form>
<li><a href="/login">login!</a></li>